.stack-info {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.frame-counter {
  font-size: 14px;
  color: #ffffff;
  margin-right: 10px;
}

.stack-navigation {
  display: flex;
  flex-direction: column;
}

.stack-navigation button {
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
  background-color: #333;
  border: 1px solid #444;
  color: white;
  border-radius: 3px;
  transition: background-color 0.2s;
}

.stack-navigation button:hover:not(:disabled) {
  background-color: #444;
}

.stack-navigation button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.stack-navigation button:first-child {
  margin-bottom: 2px;
}